<html>

<head>
  <title>Deletar Jogador</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <form action="delete" method="POST" modelAttribute="jogador">

    ID:<br>
    <input type="text" name="id" th:value="${jogador.id}" readOnly="true"><br>
    <br>
    Nome do Jogador:<br>
    <input type="text" name="nome" th:value="${jogador.nome}" readOnly="true"><br>
    <br>
    Idade do Jogador:<br>
    <input type="text" name="idade" th:value="${jogador.idade}" readOnly="true"><br>
    <br>
    Nacionalidade do Jogador:<br>
    <input type="text" name="nacionalidade" th:value="${jogador.nacionalidade}" readOnly="true"><br>

    <br>
    <input type="submit" value="Deletar">
  </form>
</body>

</html>