<html>
 <head>
     <title>DeletarJogador</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 </head>
 <body>
 <form action="/delete" method="POST" modelAttribute="jogador">
 
 ID:<br>
   <input type="text" name="id" th:value="${jogador.id}" readOnly="true"><br>
   <br>
   Nome Jogador:<br>
   <input type="text" name="nome" th:value="${jogador.nome}" readOnly="true"><br>
   <br>
   Posição:<br>
   <input type="text" name="posicao" th:value="${jogador.posicao}" readOnly="true"><br>
   
   <input type="submit" value="Deletar">
 </form>
 </body>
</html>